body {
    background-color: #132743;
    color: #ffcbcb; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2rem;
    font-size: medium;
    text-align: center;
    margin: 0;
}

img {
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 1px solid #407088;
}

h1 {
    font-size: 2.75rem;
    font-family: 'Parisienne', cursive;
    color: #132743;
    letter-spacing: 3px;
    text-shadow: 2px 2px #407088;
}
hr {
    border-color: #ffb5b5;
    border-style: solid;
}
    
.titles {
    padding: 2rem;
}
a {
    text-decoration: none;
    margin: 5px;
    color: #132743;
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #ffb5b5;
}

.header, footer {
    padding-top: 2.25rem;
    background-color: #ffcbcb; 
    color: #132743;
}
footer {
    padding: 1rem;
}

ul {
    list-style-type: none;
}
.links a {
    background-color: initial;
    color: white;
    text-decoration: underline;
    box-shadow:none;
    padding: 0;
}
li {
    margin: 10px 0;
}
/* title and date for blog and poetry */
.titlebox {
    background-color: #407088;
    margin: 0;
    padding: 10px;
}
/* subtitles */
.pink { 
    font-family: 'Dancing Script', cursive;
    color: #ffcbcb; 
    font-size: x-large;
    padding: 0;
    margin: 0;
}
.dates {
    font-style: italic;
    color: #132743;
    padding: 0;
}

.posts {
    padding: 1rem 3rem;
}
