body {
	margin: 0;
	font-family: 'Georgia';
	background-image: linear-gradient(45deg, #000000, #0b0a43, #4a0435);
        color: #ffa2cf;
}

section {
	padding: 15px;
}
.pink {
	color: #ff007b;
}
.dates {
	color: #27d8f5;
}
.cowsay {
	width: 250px;
	height: 220px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
	text-shadow: 5px 2px 10px #ff007b;
    letter-spacing: 5px;
    margin-bottom: 10px;
    padding: 25px;
    color: #000000;
}
.subtitle {
	font-style: italic;
	padding: 30px;
	color: #ff007b;
}

h4 {
	color: #ff007b;
}
.line {
	text-decoration: line-through black 10%;
}
ul {
	list-style-type: none;
}
li {
	margin: 5px 5px 0 0;
}
a {
	color: white;;
	padding: 12px;
	margin: 0 0 5px 5px;
}
a:link {
	text-decoration: none;
}

a:hover {
	background-color: #ff007b;
	color: white;
}

footer {
	padding: 12px;
        color: white;
}
hr {
	margin: 3rem auto;
    border-width: thick;
    border-style: dashed;
    width: 100%;
}
.header {
	padding-bottom: 10px;
}
.blog {
	font-style: italic;
	padding: 30px 50px;
	line-height: 1.25rem;
}
